
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    box-sizing: border-box;
    margin: 0 auto;
}

.logo {
    position: relative;
    font-size: 18px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 5px;
    color: #fff;
}

.search {
    flex-grow: 2;
}

.navigation {

}


.header__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}


@media screen and (min-width: 980px) {

    .header__item {
        margin: 0 16px;
    }
    .header__item:first-child {
        margin-left: 0;
    }
    .header__item:last-child {
        margin-right: 0;
    }
    .header__wrapper {
        padding: 24px 40px;
    }
}
