
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    box-sizing: border-box;
    margin: 0 auto;
}

.logo {
    position: relative;
    font-size: 18px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 5px;
    color: #fff;
}

.search {
    flex-grow: 2;
}

.navigation {

}

.header__search__input {
    font-size: 14px;
    font-weight: 400;
    padding: 0 12px 0 38px;
    line-height: 14px;
    color: hsla(0, 0%, 100%, .6);
    background-size: 14px;
    background-color: hsla(0, 0%, 100%, .16);
    border: none;
}

.header__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

@media screen and (min-width: 980px) {
    .header__search__input {
        width: 100%;
        transition: color .3s, background-color .3s, opacity .3s, width .05s linear;
        height: 44px;
        border-radius: 24px;
    }

    .header__item {
        margin: 0 16px;
    }
    .header__item:first-child {
        margin-left: 0;
    }
    .header__item:last-child {
        margin-right: 0;
    }
    .header__wrapper {
        padding: 24px 40px;
    }
}
